
#post-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed darkgoldenrod;
    font-family: Helvetica, Arial, Sans-Serif;
        
}

#post-container > div{
    display: flex;
    justify-content: center;
}

#post-title {
    font-size: 30px;
}


#post-rating {
    padding: 5px;
}

#post-text {
    display: flex;
    font-size: 20px;
    text-align: center;
}

#coffee-info {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 3px;
}

#post-bottom {
    display: flex;
    justify-content: space-around !important;
    align-items: flex-end;
    width: 100%;
}

#post-delete {
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 6px;
    width: 10px;
    margin-bottom: 2px;

    margin-left: 10px;
    margin-right: 5px;
    font-size: 12px;
    border-bottom: 2px solid goldenrod;
    border-left: 2px solid goldenrod;
    border-right: 2px solid darkgoldenrod;
    border-top: 2px solid darkgoldenrod;
    border-top-right-radius: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 3px;
        
}