
#new-coffee-modal {
    width: 150px;
    height: 130px;
    position: absolute;
    top: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    border-bottom: 3px solid goldenrod;
    border-left: 3px solid goldenrod;
    border-right: 3px solid darkgoldenrod;
    border-top: 3px solid darkgoldenrod;
    border-top-right-radius: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 3px;
}

#ncm-header {
    font-size: 18px;
    font-family: Helvetica, Arial, Sans-Serif;
    margin-bottom: 5px;
}

.ncm-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    font-family: Helvetica, Arial, Sans-Serif;
}

.ncm-tag {
    font-size: 14px;
}

.ncm-input-box {
    width: 50px;
}

#ncm-submit {
    margin-top: 10px;
    font-size: 12px;
}

#ncm-submit {
    border-bottom: 2px solid goldenrod;
    border-left: 2px solid goldenrod;
    border-right: 2px solid darkgoldenrod;
    border-top: 2px solid darkgoldenrod;
    border-top-right-radius: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 3px;
}

#ncm-submit:hover {
    cursor: pointer;
    border-bottom: 2px solid darkgoldenrod;
    border-left: 2px solid darkgoldenrod;
    border-right: 2px solid goldenrod;
    border-top: 2px solid goldenrod;
    border-top-right-radius: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 3px;
    transition: border-bottom .5s, border-left .5s, border-right .5s, border-top .5s;
}